<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <title>{% block title %}Shlagithon{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="title" content="Patoketchup">
    <meta name="author" content="STMN2">
    <meta name="description" content="Patoketchup">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://thomaslaure.alwaysdata.net/shlagithon/index.php">
    <meta property="og:title" content="Shlagithon">
    <meta property="og:description" content="Shlagithon">
    <meta property="og:image" content="">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://thomaslaure.alwaysdata.net/shlagithon/index.php">
    <meta property="twitter:title" content="Patoketchup">
    <meta property="twitter:description" content="Patoketchup">
    <meta property="twitter:image" content="">
    <link rel="shortcut icon" href="../assets/patoketchup.ico">
    <link rel="apple-touch-icon" href="../assets/patoketchup.ico">
    <meta name="msapplication-square310x310logo" content="../assets/patoketchup.ico">
    {% block stylesheets %}
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/all.min.css">
        <link rel="stylesheet" href="../assets/css/style.css">
    {% endblock %}
</head>

<body class="position-relative">
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script src="../assets/js/jquery-3.4.1.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="../assets/js/all.min.js"></script>
    {% endblock %}
</body>

</html>