footer div > div {
    font-size: 2rem;
}

#member-tab{
    margin: 20px;
}

.logo {
    font-size: 4rem;
}

.imgRecipe{
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}